p.experienceDates {
    padding-bottom: 0px;
    border-bottom: none;
    margin: 0px;
}

div.experience {
    margin-bottom: 8%;
}

p.primaryTechnologies {
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 0px;
}