div.experienceNameAndExpander {
    display: block;
    margin: 0px;
}

h5.experienceName {
    display:initial;
}

span.expandButton {
    padding:0px;
    float: right;
}

button {
    padding:0px;
    contain:size;
}